src/main/mule/code/code-watermark.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<!-- [STUDIO:"code-watermarkFlow-automatic"]<flow name="code-watermarkFlow-automatic" doc:id="8d76d148-4166-49e0-a872-78b2ef839e70" >
		<db:listener table="american" doc:name="On Table Row" doc:id="bce004f5-a366-4284-8080-3613ea803075" config-ref="Database_Config" watermarkColumn="ID" idColumn="ID">
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="MINUTES" />
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="java to json array" doc:id="8695336b-f531-4322-b9c0-aa74bdec9989" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[payload&#93;&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="8c347241-21e9-4d74-93a0-cc427859bcd6" collection="#[payload&#93;" >
			<ee:transform doc:name="Transform Message" doc:id="6ccdffa1-bc18-48ce-956f-ff2b20d3aef5" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output text/csv header=true
&#45;&#45;-
[
  {
    flightCode: upper(payload.code1 ++ payload.code2),
    origin: payload.fromAirport,
    destination: payload.toAirport,
    departureTime: payload.takeOffDate as String {format: "yyyy-MM-dd'T'HH:mm:ss"},
    arrivalTime: now(), 
    price: payload.price as Number
  }
&#93;&#93;&#93;></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write flight" doc:id="6c91decb-8fc2-4831-9d05-376188dbd298" config-ref="File_Config" path='#["C:\\Users\\adero\OneDrive\\Escritorio\\Proyectos\\Ingeniero Binario\\Formaciones\\curso Mulesoft Developer 2025\\CLASE 8 - Procesamiento batch y sincronización de datos\\Ejemplos\\Files\\new\\flights_"++ uuid() ++".txt"&#93;' />
		</foreach>
	</flow> [STUDIO] -->
	<!-- [STUDIO:"code-watermarkFlow-manual"]<flow name="code-watermarkFlow-manual" doc:id="e21d3dcc-0764-48e4-88dd-d115c6c2e074" >
		<scheduler doc:name="Scheduler" doc:id="6f4bdce0-cc49-4e54-b398-d0286f229edb" >
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="6b877d65-c631-47f1-84f7-891b398d6378" key="lastID" objectStore="flightIndex">
			<os:default-value ><![CDATA[0&#93;&#93;></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select" doc:id="7085f579-fe02-426b-91b6-402326768c79" config-ref="Database_Config" target="queryResults">
			<db:sql ><![CDATA[SELECT * FROM american where ID > :lastID and toAirport = :destination&#93;&#93;></db:sql>
			<db:input-parameters ><![CDATA[#[{
	lastID : payload,
	destination: "SFO"
}&#93;&#93;&#93;></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="c11d1dd4-f062-4213-9bdb-23ddc887f7eb" >
			<when expression="#[not isEmpty(vars.queryResults)&#93;">
				<ee:transform doc:name="Transform Message" doc:id="b90b833b-fc2c-436e-9109-aa64e005a943" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
vars.queryResults&#93;&#93;></ee:set-payload>
					</ee:message>
				</ee:transform>
				<foreach doc:name="For Each" doc:id="5f5c2ec0-d8dc-4310-87be-33455aa23c52" collection="payload" >
					<ee:transform doc:name="Transform Message" doc:id="fae99270-0a59-477d-9f2b-ae3d35090023" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output text/csv header=true
&#45;&#45;-
[
  {
    flightCode: upper(payload.code1 ++ payload.code2),
    origin: payload.fromAirport,
    destination: payload.toAirport,
    departureTime: payload.takeOffDate as String {format: "yyyy-MM-dd'T'HH:mm:ss"},
    arrivalTime: "2025-07-21T18:00:00", 
    price: payload.price as Number
  }
&#93;&#93;&#93;></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="newID" ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload.ID&#93;&#93;></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<file:write doc:name="Write flight" doc:id="3ea64e3e-52b0-4f9a-aee7-b79ce1d30ef6" config-ref="File_Config" path='#["C:\\Users\\adero\OneDrive\\Escritorio\\Proyectos\\Ingeniero Binario\\Formaciones\\curso Mulesoft Developer 2025\\CLASE 8 - Procesamiento batch y sincronización de datos\\Ejemplos\\Files\\new\\flights_"++ uuid() ++".txt"&#93;' />
					<os:store doc:name="Update object store" doc:id="f525af8a-f455-4906-92e6-26acf88a3e43" key="lastID" objectStore="flightIndex" >
						<os:value ><![CDATA[#[vars.newID&#93;&#93;&#93;></os:value>
					</os:store>
				</foreach>
			</when>
		</choice>
	</flow> [STUDIO] -->
</mule>
